<div class="col-md-9">
    <div class="w3-content w3-display-container">
        {% for rs in slider %}

            <a href="{{ path('product_detail' , {'id' : rs.id} ) }}">
                <img class="mySlides" src="{{ asset('uploads') }}/images/{{ rs.image }}" style="height: 375px; display: none; margin: auto;">
            </a>
            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        {% endfor %}

    </div>
</div>

